[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
scikit-learn = "*"
xgboost = "*"
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
